<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uin.mapper.BillMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.uin.pojo.Bill">
        <id column="id" property="id"/>
        <result column="billCode" property="billCode"/>
        <result column="productName" property="productName"/>
        <result column="productDesc" property="productDesc"/>
        <result column="productUnit" property="productUnit"/>
        <result column="productCount" property="productCount"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="isPayment" property="isPayment"/>
        <result column="createdBy" property="createdBy"/>
        <result column="creationDate" property="creationDate"/>
        <result column="modifyBy" property="modifyBy"/>
        <result column="modifyDate" property="modifyDate"/>
        <result column="providerId" property="providerId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , billCode, productName, productDesc, productUnit, productCount, totalPrice, isPayment, createdBy, creationDate, modifyBy, modifyDate, providerId
    </sql>

    <insert id="addBill">
        insert into smbms_bill(billCode, productName, productDesc, productUnit, productCount,
                               totalPrice, isPayment, createdBy, creationDate, modifyBy, modifyDate,
                               providerId)
        values (#{billCode}, #{productName}, #{productDesc}, #{productUnit}, #{productCount},
                #{totalPrice}, #{isPayment}, #{createdBy}, #{creationDate}, #{modifyBy},
                #{modifyDate}, #{providerId});
    </insert>
    <update id="updateBill">
        update smbms_bill
        set billCode=#{billCode},
            productName=#{productName},
            productDesc=#{productDesc},
            productUnit=#{productUnit},
            productCount=#{productCount},
            totalPrice=#{totalPrice},
            isPayment=#{isPayment},
            createdBy=#{createdBy},
            creationDate=#{creationDate},
            modifyBy=#{modifyBy},
            modifyDate=#{modifyDate},
            providerId=#{providerId}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete
        from smbms_bill
        where id = #{id};
    </delete>

    <select id="queryAllBill" resultType="Bill">
        select *
        from smbms.smbms_bill;
    </select>

    <resultMap id="BillsWithProvider" type="Bill" extends="BaseResultMap">
        <association property="provider" javaType="Provider">
            <id column="id" property="id"/>
            <result property="proName" column="pname"/>
            <result column="pcontact" property="proContact"/>
            <result column="pphone" property="proPhone"/>
        </association>
    </resultMap>

    <select id="queryBillShowProvider" resultMap="BillsWithProvider">
        select
            b.billCode,
            b.productName,
            b.providerId,
            p.proName as pname,
            p.proPhone as pphone,
            p.proContact as pcontact
        from
            smbms_bill b
                left join
            smbms_provider p
            on #{id}=p.id
        where b.productName like concat("%",#{productName},"%")
          and b.isPayment=#{isPayment}
    </select>
</mapper>
